registry=https://registry.npmjs.org/
@owse:registry=https://nexus.loginlogistica.com.br/repository/npm-private/
//nexus.loginlogistica.com.br/repository/npm-private/:username=cicd.owse
//nexus.loginlogistica.com.br/repository/npm-private/:_password="cHdfcDF0ZzRpN3FpazIwYzI="

